.ICEauthority
.Xauthority
.bash_logout
.bash_profile
.bashrc
.bash_history
.swp
.cache/
.cargo/
.config/
.dmrc
.face
.gnome/
.gnupg/
.java/
.local/
.nuget/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pki/
.ssh/known_hosts
.templateengine/
.thunderbird/
.vim/
.viminfo
.vscode-oss/
.vsts/
.xinitrc
.xsession-error*
.wget-hsts
.zcomp*
.zhistory
CLionProjects/
League of Legends.desktop
chrome*
RiderProjects/
Downloads/
yay/
git/*
java_error*
replay*
trial/
curl.sh
.node-gyp/
.rustup/
Downloads*
Pictures/
Telegram Desktop/
examples*/
.aMule/
.lesshst
.mozilla/
.npm/
Documents/
*.out
*.asm
*.cpp
opt/
zig*
.jd/
.Xclients
.dir_colors
.profile
.shell.pre-oh-my-zsh
cc
david
.android
.debug
.nemiver
.renderdoc
foo
gfxrecon*
*.c
software
vk_apidump.txt
.dbus
.gdb_history
.inputrc
.ssh
.xsession
.zsh_history
programs/
.zshrc
Desktop
.oh-my-zsh
